/* Light theme */
body[data-theme="light"] {
  color: #000000;
  background-color: #fff;
}

/* Dark theme */
body[data-theme="dark"] {
  color: #fff;
  background-color: #000000;
}

/* Header styles */
#header {
  background-color: #187c09; /* Light theme */
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* body[data-theme="dark"] #header {
  background-color: #105641; 
} */

/* Main content styles */
#main {
  padding-top: 80px;
}

/* Chat section styles */
#chat {
  background-color: #ffffffe6; /* Light theme */
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

body[data-theme="dark"] #chat {
  background-color: #000000; /* Dark theme */
  color: #fff;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* User message style */
.user-message {
  text-align: right;
  color: #fff;
  background-color: #4CAF50; /* Green background */
  border-radius: 15px;
  padding: 10px;
  margin: 5px 20% 5px 5px; /* Adjusted margin for user message */
}
body[data-theme="dark"] .user-message {
  background-color: #fff; /* Dark theme */
  color: #4CAF50;
}


/* Bot message style */
.bot-message {
  text-align: left;
  color: #333;
  background-color: #f2f2f2; /* Light gray background */
  border-radius: 15px;
  padding: 10px;
  margin: 5px 5px 5px 20%; /* Adjusted margin for bot message */
}
body[data-theme="dark"] .bot-message{
  background-color: #333; /* Dark theme */
  color: #f2f2f2;
}
#chat-container, #chat-input {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#chat-box {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
  background-color: #fff;
}

#user-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-top: 1px solid #ccc;
  outline: none;
  background-color: #fff;
  color: #333;
}

#submit-btn {
  width: 40px;
  height: 40px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  font-size: 18px;
}

#submit-btn:hover {
  background-color: #45a049;
}

body[data-theme="dark"] #footer {
  background-color: #1a242f; /* Dark theme */
}
